<div class="row">
  <div class="thumbnail">
    <img [src]="imageURL">
    <div class="caption">
      <h4 class="pull-right">{{product.price | number:'2.2-2'}}元</h4>
      <h4><a>{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
  </div>
  <div >
    <p class="pull-right">{{commentLength}}</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>

  <app-comments [productId]="product.id" (productRatingChange)="productRatingChangeHandler($event)"></app-comments>
</div>
